/* .landingPageContainer {
    display: flex;
    position: relative;
    padding: 0px 32px;
    justify-content: start;
    align-items: center;
    height: 100vh;
  }
  
  #contentContainer {
    display: block;
    width: 50%;
  }
  
  #contentContainer h2,
  #contentContainer p {
    text-align: left !important;
  }
  
  #contentContainer button {
    display: flex;
    width: fit-content !important;
    font-size: 14px;
    padding: 12px 16px !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  #contentContainer button * {
    padding: 0;
    margin: 0;
  }
  
  #imageContainer {
    position: relative;
    width: 550px;
    height: 550px;
    background-color: #0A0E33;
    border-radius: 30%;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 80%;
    margin: 0 auto;
    background-image: url('/public/background1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #center-image {
    display: inline-block;
    position: absolute;
    left: 20px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url('/public/background3.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #0A0E33;
    top: 5px;
    left: -30px;
    /* top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);  }*/
 
  
  /* @media screen and (max-width: 768px) {
    .contentContainer {
      width: 100%;
    }
  } */
  /* .primary.join-button {
    background-color: #132b5e;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    animation: blink 1s linear infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  } */
  
   