.course {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
    background: white;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    
  }
  
  .stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4pc; 
    margin-right: 4pc;
    margin-top: 3pc;
    border: 2px solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    height: fit-content;
    box-shadow: 20px 20px 10px grey;
    border-radius: 10px;
  
  }
  
  .pictures {
    width: 400px;
    height: 200px;
    object-fit: cover;
  }
  
  span {
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  h1{
    text-align: left;
    padding-left: 300px;
    font-weight: 800;
    
  }
  .stack:hover{
    transform: scale(1.3);
  }