

.projects-grid {
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    margin-left: 220px;
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Change here */
  gap: 1rem;
}
}


.projects-container {
  padding: 1rem;
}

.projects-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 -10px;
}

.project {
  width: calc(50% - 20px);
  margin: 0 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
  height: 210px;
  background-color: #eee;
  border-radius: 10px 10px 0 0;
}

.project-actions {
  padding: 1rem;
}

.avatar-container {
  display: flex;
  margin-bottom: 1rem;
}

.avatar {
  margin-right: 0.5rem;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card-text {
  margin-bottom: 1rem;
}



.like-button {
  background-color: #dc3545;
  color: white;
  margin:2px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.like-button:hover {
  background-color: #c82333;
}

.like-count {
  margin-left: 0.5rem;
}

.add-project-button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.add-project-button:hover {
  background-color: #0069d9;
}

.primary {
  background-color: #007bff;
  color: white;
}

.danger {
  background-color: #dc3545;
  color: white;
}


.view-details-button {
    background-color: #1784bf;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.view-details-button:hover {
    background-color: #1784bf;
}


