/* login.css */

.login {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ece8ef;
  border-radius: 5px;
}

.login-heading {
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-label {
  margin-bottom: 10px;
}

.login-input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button {
  padding: 8px;
  margin-top: 10px;
  background-color: #031529;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.login-button:hover {
  background-color: #07090c;
}

.login-checkbox {
  margin-right: 5px;
}
