/* login.css */

.login {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-heading{
  margin-right:100%}


.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-label {
  margin-bottom: 10px;
    margin-left: 10%;

}

.login-input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 80%;
  margin-left: 10%;
}

.login-button {
  padding: 8px;
  margin-top: 10px;
  background-color: #1784bf ;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
button[type='button'] {
    background-color: #1784bf;
    width: 50%;
    margin-left: 20%;
    align-content: center;
}
.login-button:hover {
  background-color: #07090c;
}

.login-checkbox {
  margin-right: 5px;
}
