  .cohort__form {
    display: flex;
   justify-content: center;
   margin-top: 2pc;
   margin-left: 1pc;
  }
  
  .add__title{
    text-align: center;
    color: #030303;
    font-weight: 800;
  }
  
  .cohort-form {
    background-color: #0A0E33;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #999;
     position: relative;
  }
  
   .courses__label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #f1ebeb;
  }
  
.input__details{
    width: 95%;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
 .cohortButton__submit {
    background-color:#1784bf;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  .cohortButton__submit:hover{
    background-color: black;
  }
  
  .cohortButton__cancel{
    background-color:red;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
  }
  .cohortButton__cancel:hover{
    background-color: darkred;
  }
  
 
  
  .cohortButton__cancel,.cohortButton__submit:hover {
    opacity: 0.8;
  }
  
  .select-course {
    display: block;
    position: relative;
    width: 95%;
    padding: 8px;
    border-radius: 10px;
  }
  
  .cohort-form {
    width: 500px;
  }
  
  .cohortFormButton {
    text-align: center !important;
    width: 100%;
  }  
  .name__text{
    width: 95%;
    border-radius: 10px;
  }
  